.notFound-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.notFound-image {
  width: 30%;
}

.notFound-heading {
  color: #ffffff;
}

.notFound-description {
  font-size: 15px;
  color: #cbd5e1;
}
